<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.jay.custom.project.custom.dal.dao.FlightInfoMapper">
  <resultMap id="BaseResultMap" type="com.github.jay.custom.project.custom.dal.entity.FlightInfoDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="flight_no" jdbcType="VARCHAR" property="flightNo" />
    <result column="flight_date" jdbcType="TIMESTAMP" property="flightDate" />
    <result column="com_ticket_price" jdbcType="DECIMAL" property="comTicketPrice" />
    <result column="official_price" jdbcType="DECIMAL" property="officialPrice" />
    <result column="top_price" jdbcType="DECIMAL" property="topPrice" />
    <result column="sell_time" jdbcType="TIMESTAMP" property="sellTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, flight_no, flight_date, com_ticket_price, official_price, top_price, sell_time
  </sql>
  <select id="selectByExample" parameterType="com.github.jay.custom.project.custom.dal.entity.FlightInfoDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from flight_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from flight_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from flight_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.github.jay.custom.project.custom.dal.entity.FlightInfoDOExample">
    delete from flight_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.github.jay.custom.project.custom.dal.entity.FlightInfoDO">
    insert into flight_info (id, flight_no, flight_date,
      com_ticket_price, official_price, top_price,
      sell_time)
    values (#{id,jdbcType=BIGINT}, #{flightNo,jdbcType=VARCHAR}, #{flightDate,jdbcType=TIMESTAMP},
      #{comTicketPrice,jdbcType=DECIMAL}, #{officialPrice,jdbcType=DECIMAL}, #{topPrice,jdbcType=DECIMAL},
      #{sellTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.github.jay.custom.project.custom.dal.entity.FlightInfoDO">
    insert into flight_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="flightNo != null">
        flight_no,
      </if>
      <if test="flightDate != null">
        flight_date,
      </if>
      <if test="comTicketPrice != null">
        com_ticket_price,
      </if>
      <if test="officialPrice != null">
        official_price,
      </if>
      <if test="topPrice != null">
        top_price,
      </if>
      <if test="sellTime != null">
        sell_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="flightNo != null">
        #{flightNo,jdbcType=VARCHAR},
      </if>
      <if test="flightDate != null">
        #{flightDate,jdbcType=TIMESTAMP},
      </if>
      <if test="comTicketPrice != null">
        #{comTicketPrice,jdbcType=DECIMAL},
      </if>
      <if test="officialPrice != null">
        #{officialPrice,jdbcType=DECIMAL},
      </if>
      <if test="topPrice != null">
        #{topPrice,jdbcType=DECIMAL},
      </if>
      <if test="sellTime != null">
        #{sellTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update flight_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.flightNo != null">
        flight_no = #{record.flightNo,jdbcType=VARCHAR},
      </if>
      <if test="record.flightDate != null">
        flight_date = #{record.flightDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comTicketPrice != null">
        com_ticket_price = #{record.comTicketPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.officialPrice != null">
        official_price = #{record.officialPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.topPrice != null">
        top_price = #{record.topPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.sellTime != null">
        sell_time = #{record.sellTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update flight_info
    set id = #{record.id,jdbcType=BIGINT},
      flight_no = #{record.flightNo,jdbcType=VARCHAR},
      flight_date = #{record.flightDate,jdbcType=TIMESTAMP},
      com_ticket_price = #{record.comTicketPrice,jdbcType=DECIMAL},
      official_price = #{record.officialPrice,jdbcType=DECIMAL},
      top_price = #{record.topPrice,jdbcType=DECIMAL},
      sell_time = #{record.sellTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.jay.custom.project.custom.dal.entity.FlightInfoDO">
    update flight_info
    <set>
      <if test="flightNo != null">
        flight_no = #{flightNo,jdbcType=VARCHAR},
      </if>
      <if test="flightDate != null">
        flight_date = #{flightDate,jdbcType=TIMESTAMP},
      </if>
      <if test="comTicketPrice != null">
        com_ticket_price = #{comTicketPrice,jdbcType=DECIMAL},
      </if>
      <if test="officialPrice != null">
        official_price = #{officialPrice,jdbcType=DECIMAL},
      </if>
      <if test="topPrice != null">
        top_price = #{topPrice,jdbcType=DECIMAL},
      </if>
      <if test="sellTime != null">
        sell_time = #{sellTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.jay.custom.project.custom.dal.entity.FlightInfoDO">
    update flight_info
    set flight_no = #{flightNo,jdbcType=VARCHAR},
      flight_date = #{flightDate,jdbcType=TIMESTAMP},
      com_ticket_price = #{comTicketPrice,jdbcType=DECIMAL},
      official_price = #{officialPrice,jdbcType=DECIMAL},
      top_price = #{topPrice,jdbcType=DECIMAL},
      sell_time = #{sellTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from flight_info
  </select>
</mapper>